body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

canvas {
    display: block;
    margin: 0;
    padding: 0;
}

.speech-bubble {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    cursor:default; 
    display: none; /* Masquer la boîte de dialogue au départ */
}

.speech-bubble p {
    color: #e0e0e0;
    margin: 0;
    font-size: large;
    line-height: 1.4;
    opacity: 0; 
    animation: fadeIn 0s forwards; 
    white-space: nowrap; 
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, button, .hidden, #ouiButton:hover, #nonButton:hover {
    cursor: url("https://1.bp.blogspot.com/-NmbnDADABUE/XSfhUk_X2yI/AAAAAAAAFFw/5Tp7zt_8erg2AJ-aQ1VhYdH_l4nTReY7wCLcBGAs/s1600/cursor.png"), default;
}


.background-text{
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    background-color: #383838; /* Couleur de fond pour le texte */
    padding: 5px 10px; /* Espacement autour du texte */
    border-radius: 5px; /* Coins arrondis */
}

.hidden {
    display: none;
}

.exclamation {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 100px; /* Taille de l'icône ajustée */
    color: #2c2c2cec; /* Couleur de l'icône */
    opacity: 0; /* Masquer l'icône au départ */
    animation: fadeInOut 0.5s ease forwards, rotateRight 2s linear infinite; /* Ajoutez l'animation de rotation */
    display: none; /* Masquer l'icône au départ */
}

.button-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer horizontalement et verticalement */
    display: flex;
    justify-content: center; /* Aligner les boutons horizontalement */
}

#ouiButton,
#nonButton {
    margin: 0 100%; /* Marge entre les boutons */
    padding: 10px 20px; /* Espacement interne */
    font-size: 16px; /* Taille du texte */
    font-weight: bold;
    color: white; /* Couleur du texte */
    background-color: #181818; /* Couleur de fond */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur interactif */
}

#ouiButton:hover,
#nonButton:hover {
    background-color: #383838; /* Couleur de fond au survol */
}

@keyframes rotateRight {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(10deg); /* Rotation de 10 degrés à la fin */
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; /* Début et fin de l'animation : point d'exclamation invisible */
    }
    25% {
        opacity: 1; /* Milieu de l'animation : point d'exclamation visible */
    }

    50% {
        opacity: 1; /* Milieu de l'animation : point d'exclamation visible */
    }

    75% {
        opacity: 1; /* Milieu de l'animation : point d'exclamation visible */
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

@keyframes fadeInLetter {
    0% {
        opacity: 0; 
        transform: translateY(20px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}