body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

canvas {
    display: block;
    margin: 0;
    padding: 0;
}

.speech-bubble {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    cursor:default; 
    display: none; /* Masquer la boîte de dialogue au départ */
}

.speech-bubble p {
    color: #e0e0e0;
    margin: 0;
    font-size: large;
    line-height: 1.4;
    opacity: 0; 
    animation: fadeIn 0s forwards; 
    white-space: nowrap; 
}

.background-text{
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    background-color: #383838; /* Couleur de fond pour le texte */
    padding: 5px 10px; /* Espacement autour du texte */
    border-radius: 5px; /* Coins arrondis */
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

@keyframes fadeInLetter {
    0% {
        opacity: 0; 
        transform: translateY(20px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}