/* Reset CSS */
html, body, div, h1, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Consolas', monospace; /* Police de texte */
} 

/* Body styles */
body, .background, .start-button:before, .start-button.animated-button {
    cursor: url("https://1.bp.blogspot.com/-NmbnDADABUE/XSfhUk_X2yI/AAAAAAAAFFw/5Tp7zt_8erg2AJ-aQ1VhYdH_l4nTReY7wCLcBGAs/s1600/cursor.png"), default;
}

/* Background styles */
.background {
    background-image: url("/assets/images/background.png");
    background-size: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
} 

/* Style du bouton */
.start-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #976200; /* Violet */
    color: #ffffff; /* Blanc */
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: absolute; /* Utilisez une position absolue */
    bottom: 35%; /* Placez le bouton à 5% de la hauteur du parent (décalage vers le bas) */
    right: 35%; /* Placez le bouton à 5% de la largeur du parent (décalage vers la droite) */
    z-index: 1;
}

.start-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    z-index: -1;
}

.start-button:hover:before {
    width: 0;
    height: 0;
}

.start-button:hover {
    color: #976200; /* Violet */
    background-color: #1a1a1a; /* Blanc */
    transition: all 0.3s ease;
}

.start-button.animated-button {
    animation: pulse 2s infinite;
}

.animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
}

.animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;      
}

.first, .second, .third div {
    background-color:#5a3eb8;
}

/* Ajout de l'animation pour le salut */
.wave {
    display: inline-block;
    animation: wave 2s infinite ease-in-out; /* Animation plus fluide */
}

/* Animation de transition */
.page-transition {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Keyframes */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes wave {
    25% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}

@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .start-button {
        font-size: 1em; /* Taille de police réduite pour les petits écrans */
        bottom: 32%; /* Décalage vers le bas ajusté pour les petits écrans */
        right: 32%; /* Décalage vers la droite ajusté pour les petits écrans */
    }
}