/* Reset CSS */
html, body, div, h1, p, a {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body styles */
body {
    cursor: url('/assets/images/cursor.png'), pointer;
    font-family: 'Consolas', monospace; /* Police de texte */
}

/* Background styles */
.background {
    background-color: #131417;    /* Noir */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content styles */
p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

.title {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.content {
    text-align: center;
    color: #ffffff; /* Blanc */
    padding: 20px;
    max-width: 80%;
}

/* Title styles */
.animated-title {
    font-size: 4rem;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease forwards;
    font-family: 'OCR A Std', monospace; /* Police de titre */
}

/* Text styles */
.animated-text {
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.5s;
}

.animated-text-second {
    margin-bottom: 50px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.8s;
}

/* Style du bouton */
.start-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #6f42c1; /* Violet */
    color: #ffffff; /* Blanc */
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.start-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    z-index: -1;
}

.start-button:hover:before {
    width: 0;
    height: 0;
}

.start-button:hover {
    color: #6f42c1; /* Violet */
    background-color: #ffffff; /* Blanc */
    transition: all 0.3s ease;
}

.start-button.animated-button {
    animation: pulse 2s infinite;
}

.animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
}

.animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;      
}

.first, .second, .third div {
    background-color:#5a3eb8;
}

/* Ajout de l'animation pour le salut */
.wave {
    display: inline-block;
    animation: wave 2s infinite ease-in-out; /* Animation plus fluide */
}

/* Animation de transition */
.page-transition {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Keyframes */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes wave {
    25% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}

@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .animated-title {
        font-size: 3rem;
    }
}
